.container-h{
  height: 600px;
}
.container,h2{
  color: white;
  text-align: center;
}

table{
  text-align: center;
}
.navs{
  background-color: rgba(19, 135, 212, 0.5);
  transition: all 1s ease;
}
.prueba-color{
  color:white;
  text-align: center;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}

.perfil{
  border: 2px solid #aaa;
  border-radius: 2px;
  width: 70px;
  height: 70px;
}
.dropdown-item{
  width: 90%;
  margin-left: 5px;
  margin-bottom: 10px;
}
.containerMini{
  height: 100px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color: white;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #666;
}

.fr2{
position: absolute;
justify-content: space-between;
left: 2%;
align-content: space-between;
top: 110%;
}

.fr2 .crear{
position: absolute;
justify-content: space-between;
left: 2%;
align-content: space-between;
top: 90%;
}

.titulo{
  color: white;
}

collapse,ul,li,a{
  color: white;

}
